= simple_form_for milestone, url: project_milestones_path(milestone.project.id) do |f|
  = f.input :name
  = f.input :description, as: :text
  = f.input :due_date, as: :date
  = f.input :closed_date, as: :date
  = f.input :status, collection: Milestone.statuses_i18n
  = f.button :submit, class: 'btn-success'
