= simple_form_for milestone, url: project_milestones_path(milestone.project.id) do |f|
  = f.input_field :name, label: 'label'
  = f.text_field :description
  = f.input_field :due_date, as: :datetime
  = f.input_field :closed_date, as: :datetime
  = f.select :status, Milestone.statuses.keys, {}, placeholder: 0
  = f.button :submit
