%table.table
  %thead
    %tr
      %td
        = t('activerecord.attributes.milestone.name')
      %td
        = t('activerecord.attributes.milestone.due_date')
      %td
        = t('activerecord.attributes.milestone.status')
      %td
        = t('activerecord.attributes.milestone.ticket_count_by_status')
      %td
        = t('destroy')
  %tbody
    - milestones.each do |m|
      %tr
        %td
          = link_to m.name, edit_milestone_path(m.id)
        %td
          = I18n.l(m.due_date)
        %td
          = m.status_i18n
        %td
          = m.count_all_tickets_by_status.join(' / ')
        %td
          = button_to t('destroy'), milestone_path(m.id), method: :delete, class: 'btn btn-danger btn-sm'
