%table.table
  %thead
    %tr
      %td
        = t('model.milestones.name')
      %td
        = t('model.milestones.due_date')
      %td
        = t('model.milestones.closed_date')
      %td
        = t('model.milestones.status')
  %tbody
    - milestones.each do |m|
      %tr
        %td
          = link_to m.name, edit_milestone_path(m.id)
        %td
          = m.due_date
        %td
          = m.closed_date
        %td
          = m.status_i18n
