%table.table
  %thead
    %tr
      %td
        = t('activerecord.attributes.task.name')
      %td
        = t('activerecord.attributes.task.status')
      %td
        = t('activerecord.attributes.task.costs')
      %td
        = t('activerecord.attributes.task.planned')
      %td
        = t('activerecord.attributes.task.actual')
      %td
        = t('destroy')
  - tasks.each do |task|
    %tr
      %td
        = link_to task.name, edit_task_path(task.id)
      %td
        = task.status_i18n
      %td
        = task.costs
      %td
        = task.planned
      %td
        = task.actual
      %td
        = button_to t('destroy'), task_path(task.id), method: :delete, class: 'btn btn-danger btn-sm'
