%table.table
  %thead
    %tr
      %td
        = t('activerecord.attributes.requirement.name')
      %td
        = t('activerecord.attributes.requirement.description')
      %td
        = t('activerecord.attributes.requirement.ticket_count_by_status')
      %td
        = t('destroy')
  - requirements.each do |r|
    %tr
      %td
        = link_to r.name, edit_requirement_path(r.id)
      %td
        = r.description
      %td
        #{r.tickets_notyet.size} / #{r.tickets_doing.size} / #{r.tickets_done.size}
      %td
        = button_to t('destroy'), requirement_path(r.id), method: :delete, class: 'btn btn-danger btn-sm'
