%h2
  = t('.')
= simple_form_for @requirement, url: requirement_path(@requirement.id) do |f|
  = render 'form', { f: f }
%h3
  = t('tasks.index')
= button_to t('new'), new_requirement_task_path(@requirement.id), method: :get, class: 'btn btn-primary'
= render 'tasks/list', { tasks: @requirement.tasks }
