%table.table
  %thead
    %tr
      %td
        = t('activerecord.attributes.ticket.name')
      %td
        = t('activerecord.attributes.ticket.status')
      %td
        = t('activerecord.attributes.ticket.costs')
      %td
        = t('activerecord.attributes.ticket.planned')
      %td
        = t('activerecord.attributes.ticket.actual')
      %td
        = t('action')
  - tickets.each do |ticket|
    %tr
      %td
        = link_to ticket.name, edit_ticket_path(ticket.id),
          'data-bs-toggle' => 'tooltip', title: ticket.description
      %td
        = ticket.status_i18n
      %td
        = ticket.costs
      %td
        = ticket.planned
      %td
        = ticket.actual
      %td
        - if ticket.notyet?
          = link_to t('methods.ticket.update_doing'),
            update_doing_ticket_path(ticket.id),
            method: :patch,
            class: 'btn btn-warning btn-sm'
        - elsif ticket.doing?
          = link_to t('methods.ticket.update_done'),
            update_done_ticket_path(ticket.id),
            method: :patch,
            class: 'btn btn-success btn-sm'
        = link_to t('destroy'),
          ticket_path(ticket.id),
          method: :delete,
          class: 'btn btn-danger btn-sm'
