= simple_form_for project, url: mission_projects_path(project.mission.id) do |f|
  = f.input_field :name, label: 'label'
  = f.text_field :description
  = f.select :status, Project.statuses.keys, {}, placeholder: 0
  = f.button :submit
