%h2
  = t('.')
= render 'form', { project: @project }
%h3
  = t('milestones.index')
= button_to t('new'), new_project_milestone_path(@project.id), method: :get, class: 'btn btn-primary'
= render 'milestones/list', { milestones: @project.milestones }
