= simple_form_for mission do |f|
  = f.input :name
  = f.input :description, as: :text
  = f.input :status, collection: Mission.statuses_i18n, include_blank: false
  = f.button :submit, class: 'btn-success'
