%table.table
  %thead
    %tr
      %td
        = t('activerecord.attributes.mission.name')
      %td
        = t('activerecord.attributes.mission.description')
      %td
        = t('activerecord.attributes.mission.status')
      %td
        = t('destroy')
  %tbody
    - missions.each do |m|
      %tr
        %td
          = link_to m.name, edit_mission_path(m.id)
        %td
          = m.description
        %td
          = m.status_i18n
        %td
          = button_to t('destroy'), mission_path(m.id), method: :delete, class: 'btn btn-danger btn-sm'
